@model IEnumerable<Predictions.Core.Models.Dtos.ExpertDto>

<table class="table table-hover" id="resultsTable">
    <thead>
        <tr>
            <th></th>
            <th>Эксперт</th>
            <th>Угадан счет</th>
            <th>Угадана разница</th>
            <th>Угадан исход</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Differences)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Outcomes)
                </td>
                <td class="success">
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    
    var setDataTables = function () {
        var t = $('#resultsTable').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "language": {
                "emptyTable": "Нет данных по туру"
            },
            "retrieve": true,
            "paging": false,
            "info": false,
            "filter": false,
            "order": [[5, "desc"]],
            "aaSorting": []
        });

        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    };

    $(document).ready(setDataTables);
</script>


    
