@using Predictions.Helpers
@model Predictions.ViewModels.AddScoresViewModel

@{
    ViewBag.Title = "AddScores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактор результатов</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <h2>@Model.CurrentTourId Тур</h2>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addScoresForm" }))
            {
                @Html.HiddenFor(model => Model.CurrentTourId)
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.PartialFor(m => m.MatchTable, "MatchTable")
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="submit" class="btn btn-danger pull-right" value="Сохранить">
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Назад к расписанию", "Index", new { }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>