@model Predictions.ViewModels.PreresultsViewModel

@{
    ViewBag.Title = "AddScores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Рассчитать тур</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <h2>@Model.CurrentTourId Тур</h2>
            @Html.HiddenFor(model => Model.CurrentTourId)
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Эксперт</th>
                                <th>Прогнозы в туре</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ExpertTourInfo)
                            {
                                <tr>
                                    <td>@item.Item1</td>
                                    <td>@item.Item2</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            @if (Model.EnableSubmit)
            {
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="text-success">Все матчи сыграны. Рассчитать тур?</div>
                        <div>
                            @Html.ActionLink("Рассчитать", "SubmitTour",
                                    new { tourId = Model.CurrentTourId },
                                    new { @class = "btn btn btn-danger pull-right" })
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-danger">
                    <div class="panel-body">
                        <div class="text-danger">Сыграны не все матчи. Нельзя рассчитать тур.</div>
                        <div>
                            @Html.ActionLink("Рассчитать", "SubmitTour",
                                    new { tourId = Model.CurrentTourId },
                                    new { @class = "btn btn btn-danger pull-right disabled" })
                        </div>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Назад к расписанию", "Index", new { }, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>