@model Predictions.ViewModels.PredictionsDisplayViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Прогнозы</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <select name="@Html.NameFor(model => model.SelectedExpertId)"
                                    id="@Html.IdFor(model => model.SelectedExpertId)"
                                    class="selectpicker"
                                    data-width="auto"
                                    title="Выбрать эксперта">
                                @foreach (var item in Model.Expertlist)
                                {
                                    <option value="@item.ExpertId.ToString()">@item.Nickname</option>
                                }
                            </select>
                        </div>        
                        <div class="col-md-2">

                            <select name="@Html.NameFor(model => model.SelectedTourId)"
                                    id="@Html.IdFor(model => model.SelectedTourId)"
                                    class="form-control"
                                    @*data-width="auto"
                                    title="Выбрать тур"*@>
                                @foreach (var item in Model.Tourlist)
                                {
                                    <option value="@item.TourId.ToString()">@item.TourId</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th class="col-md-2">Дата</th>
                                    <th class="col-md-1">Дома</th>
                                    <th class="col-md-1">В гостях</th>
                                    <th class="col-md-1">Прогноз</th>
                                </tr>

                                @if (Model.Tour != null)
                                {
                                    for (int i = 0; i <= Model.Tour.Matches.Count - 1; i++)
                                    {
                                        @Html.HiddenFor(model => Model.Tour.Matches[i].MatchId)
                                        <tr>
                                            <td class="col-md-2">@Model.Tour.Matches.ElementAt(i).Date</td>
                                            <td class="col-md-1">@Model.Tour.Matches.ElementAt(i).HomeTeam.Title</td>
                                            <td class="col-md-1">@Model.Tour.Matches.ElementAt(i).AwayTeam.Title</td>
                                            <td class="col-md-1">@Model.Tour.Matches.ElementAt(i).Predictions.ElementAt(0).Value</td> @* TO FIX!!!!!!!!! *@

                                        </tr>
                                    }
                                }

                                <tr><td><input type="submit" class="btn btn-info" value="Показать прогноз"></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}