@model Predictions.ViewModels.PredictionsDisplayViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Прогнозы</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    for(var i = 0; i < Model.Expertlist.Count(); i++)
    {
        @Html.HiddenFor(@model => Model.Expertlist[i].ExpertId)
    }
    for(var i = 0; i < Model.Tourlist.Count(); i++)
    {
        @Html.HiddenFor(@model => Model.Tourlist[i].TourId)
    }

    <div class="form-horizontal">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <select name="@Html.NameFor(model => model.SelectedExpertId)"
                                    id="@Html.IdFor(model => model.SelectedExpertId)"
                                    class="selectpicker"
                                    data-width="auto"
                                    title="Выбрать эксперта">
                                @for(var i = 0; i < Model.Expertlist.Count(); i++)
                                {
                                    <option value="@Model.Expertlist[i].ExpertId">@Model.Expertlist[i].Nickname</option>
                                }
                            </select>
                        </div>        
                        <div class="col-md-2">

                            <select name="@Html.NameFor(model => model.SelectedTourId)"
                                    id="@Html.IdFor(model => model.SelectedTourId)"
                                    class="selectpicker"
                                    data-width="auto"
                                    title="Выбрать тур">
                                @for(var i = 0; i < Model.Tourlist.Count(); i++)
                                {
                                    <option value="@Model.Tourlist[i].TourId">@Model.Tourlist[i].TourId</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th class="col-md-2">Дата</th>
                                    <th class="col-md-1">Дома</th>
                                    <th class="col-md-1">В гостях</th>
                                    <th class="col-md-1">Прогноз</th>
                                </tr>

                                @if (Model.Matchlist != null)
                                {
                                    for(int i = 0; i <= Model.Matchlist.Count() - 1; i++)
                                    {
                                        <tr>
                                            <td class="col-md-2">@Model.Matchlist[i].Date</td>
                                            <td class="col-md-1">@Model.Matchlist[i].HomeTeamTitle</td>
                                            <td class="col-md-1">@Model.Matchlist[i].AwayTeamTitle</td>
                                            <td class="col-md-1">@Model.Matchlist[i].PredictionValue</td>
                                        </tr>
                                    }
                                }
                                <tr><td><input type="submit" class="btn btn-info" value="Показать прогноз"></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}