@model Predictions.ViewModels.PredictionsDisplayViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список прогнозов</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Ajax.BeginForm("GetEvaluationDetails", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.Replace}))
                    {
                        for (var i = 0; i < Model.Expertlist.Count(); i++)
                        {
                            @Html.HiddenFor(@model => Model.Expertlist[i].Text);
                            @Html.HiddenFor(@model => Model.Expertlist[i].Value);
                        }

                        for (var i = 0; i < Model.Tourlist.Count(); i++)
                        {
                            @Html.HiddenFor(@model => Model.Tourlist[i].Text);
                            @Html.HiddenFor(@model => Model.Tourlist[i].Value);
                        }

                        <div class="row">
                            <div class="input-group col-md-6">
                                @Html.DropDownListFor(model => model.SelectedExpertId, Model.Expertlist, new { @class = "selectpicker form-control", data_width = "auto", title = "Выбрать эксперта", Name = "expertId" })
                                @Html.DropDownListFor(model => model.SelectedTourId, Model.Tourlist, new { @class = "selectpicker form-control", data_width = "auto", title = "Выбрать тур", Name = "tourId" })
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Показать прогноз</button>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" id="results">
                    @Html.PartialFor(m => m.EvaluationDetails, "EvaluationDetails")
                </div>
            </div>
        </div>
    </div>
</div>





@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        for (var i = 0; i < Model.Expertlist.Count(); i++)
        {
            @Html.HiddenFor(@model => Model.Expertlist[i].Text);
            @Html.HiddenFor(@model => Model.Expertlist[i].Value);
        }

        for (var i = 0; i < Model.Tourlist.Count(); i++)
        {
            @Html.HiddenFor(@model => Model.Tourlist[i].Text);
            @Html.HiddenFor(@model => Model.Tourlist[i].Value);
        }

        <div class="form-horizontal">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.SelectedExpertId, Model.Expertlist,
                                        new { @class = "selectpicker", @data_width = "auto", @title = "Выбрать эксперта" })
                                    @Html.DropDownListFor(model => model.SelectedTourId, Model.Tourlist,
                                        new { @class = "selectpicker", @data_width = "auto", @title = "Выбрать тур" })
                                </div>
                            </div>
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-info pull-right" value="Показать прогноз">
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th class="col-md-2">Дата</th>
                                            <th class="col-md-1">Дома</th>
                                            <th class="col-md-1">В гостях</th>
                                            <th class="col-md-1">Прогноз</th>
                                        </tr>

                                        @if (Model.Matchtable.Matchlist != null)
                                        {
                                            for (int i = 0; i <= Model.Matchtable.Matchlist.Count() - 1; i++)
                                            {
                                                <tr>
                                                    <td class="col-md-2">@Model.Matchtable.Matchlist[i].Date</td>
                                                    <td class="col-md-1">@Model.Matchtable.Matchlist[i].HomeTeamTitle</td>
                                                    <td class="col-md-1">@Model.Matchtable.Matchlist[i].AwayTeamTitle</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }*@


@*<script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker('refresh');
            $('#Select1').selectpicker('val', '@Model.SelectedExpertId');
            $('#Select2').selectpicker('val', '@Model.SelectedTourId');
        });
    </script>*@
