@model Predictions.ViewModels.PredictionsDisplayViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Прогнозы</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    for (var i = 0; i < Model.Expertlist.Count(); i++)
    {
        @Html.HiddenFor(@model => Model.Expertlist[i].Text);
        @Html.HiddenFor(@model => Model.Expertlist[i].Value);
    }

    for (var i = 0; i < Model.Tourlist.Count(); i++)
    {
        @Html.HiddenFor(@model => Model.Tourlist[i].Text);
        @Html.HiddenFor(@model => Model.Tourlist[i].Value);
    }

    <div class="form-horizontal">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.SelectedExpertId, Model.Expertlist,
                                    new { @class = "selectpicker", @data_width = "auto", @title = "Выбрать эксперта" })
                                @Html.DropDownListFor(model => model.SelectedTourId, Model.Tourlist,
                                    new { @class = "selectpicker", @data_width = "auto", @title = "Выбрать тур" })
                            </div>
                        </div>
                        <div class="col-md-8">
                            <input type="submit" class="btn btn-info pull-right" value="Показать прогноз">
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th class="col-md-2">Дата</th>
                                        <th class="col-md-1">Дома</th>
                                        <th class="col-md-1">В гостях</th>
                                        <th class="col-md-1">Прогноз</th>
                                    </tr>

                                    @if (Model.Matchlist != null)
                                    {
                                        for (int i = 0; i <= Model.Matchlist.Count() - 1; i++)
                                        {
                                            <tr>
                                                <td class="col-md-2">@Model.Matchlist[i].Date</td>
                                                <td class="col-md-1">@Model.Matchlist[i].HomeTeamTitle</td>
                                                <td class="col-md-1">@Model.Matchlist[i].AwayTeamTitle</td>
                                                <td class="col-md-1">@Model.Matchlist[i].PredictionValue</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}


@*<script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker('refresh');
            $('#Select1').selectpicker('val', '@Model.SelectedExpertId');
            $('#Select2').selectpicker('val', '@Model.SelectedTourId');
        });
    </script>*@
