@model Predictions.ViewModels.PredictionsDisplayViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список прогнозов</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Ajax.BeginForm("GetEvaluationDetails", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.Replace}))
                    {
                        for (var i = 0; i < Model.Expertlist.Count(); i++)
                        {
                            @Html.HiddenFor(@model => Model.Expertlist[i].Text);
                            @Html.HiddenFor(@model => Model.Expertlist[i].Value);
                        }

                        for (var i = 0; i < Model.Tourlist.Count(); i++)
                        {
                            @Html.HiddenFor(@model => Model.Tourlist[i].Text);
                            @Html.HiddenFor(@model => Model.Tourlist[i].Value);
                        }

                        <div class="row">
                            <div class="input-group col-md-5 col-md-offset-7">
                                @Html.DropDownListFor(model => model.SelectedExpertId, Model.Expertlist, new { @class = "selectpicker form-control", data_width = "auto", title = "Выбрать эксперта", Name = "expertId" })
                                @Html.DropDownListFor(model => model.SelectedTourId, Model.Tourlist, new { @class = "selectpicker form-control", data_width = "auto", title = "Выбрать тур", Name = "tourId" })
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Показать прогноз</button>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" id="results">
                    @Html.PartialFor(m => m.EvaluationDetails, "EvaluationDetails")
                </div>
            </div>
        </div>
    </div>
</div>






