@using Predictions.DAL

@model Predictions.ViewModels.EvaluationDetailsViewModel



<style>
    input.form-control {
        width: auto;
    }
</style>

@{
    var empty = Model.Matchlist.IsNullOrEmpty() 
        && Model.Scorelist.IsNullOrEmpty() 
        && Model.Predictionlist.IsNullOrEmpty();
}

<table class="table table-hover" id="evaluationDetails">
    <thead>
        <tr>
            <th class="col-xs-1">Дата</th>
            <th class="col-xs-1">Дома</th>
            <th class="col-xs-1">В гостях</th>
            <th class="col-xs-1">Счет</th>
            <th class="col-xs-1">Прогноз</th>
            <th class="col-xs-1">Очки</th>
        </tr>
    </thead>
    <tbody>
        @if (!empty)
        {
            for (int i = 0; i < Model.Matchlist.Count(); i++)
            {
                <tr>
                    <td>@Html.DisplayFor(model => Model.Matchlist[i].Date)</td>
                    <td>@Model.Matchlist[i].HomeTeamTitle</td>
                    <td>@Model.Matchlist[i].AwayTeamTitle</td>
                    <td>@Model.Scorelist[i].Value</td>
                    <td>@Model.Predictionlist[i].Value</td>
                    <td>@Model.TempResultlist[i]</td>
                </tr>
            }
        }
    </tbody>
</table>

@if (!empty && Model.Sum > 0)
{ <div>Сумма = @Model.Sum</div>}


