@using Predictions.DAL

@model Predictions.ViewModels.MatchTableViewModel



<style>
    input.form-control {
        width: auto;
    }
</style>

<table class="table table-hover table-inverse">
    <thead>
        <tr>
            <th class="col-xs-2">@Model.Headers[0]</th>
            <th class="col-xs-1">@Model.Headers[1]</th>
            <th class="col-xs-1">@Model.Headers[2]</th>
            @if (Model.Headers[3] != null)
            {
                <th class="col-xs-1">@Model.Headers[3]</th>
            }
            @if (!@Model.ActionLinklist.IsNullOrEmpty())
            {
                <th class="col-xs-1"></th>
            }

        </tr>
    </thead>
    <tbody>
        @if (Model.Matchlist.Any() && Model.Scorelist.Any())
        {
            for (int i = 0; i < Model.Matchlist.Count(); i++)
            {
                <tr>
                    <td>@Model.Matchlist[i].Date</td>
                    <td>@Model.Matchlist[i].HomeTeamTitle</td>
                    <td>@Model.Matchlist[i].AwayTeamTitle</td>
                    <td>
                        @if (@Model.Scorelist[i].Editable)
                        {
                            @Html.TextBoxFor(@model => @Model.Scorelist[i].Value, new { @class = "form-control" })
                            @Html.ValidationMessageFor(@model => @Model.Scorelist[i].Value)
                        }
                        else
                        {@Html.DisplayFor(@model => @Model.Scorelist[i].Value)}
                    </td>

                    @if (!@Model.ActionLinklist.IsNullOrEmpty())
                    {
                        <td class="col-xs-1">
                            <div>
                                @Html.ActionLink(
                                Model.ActionLinklist[i].LinkText,
                                Model.ActionLinklist[i].ActionName,
                                Model.ActionLinklist[i].RouteValues,
                                Model.ActionLinklist[i].HtmlAttributes)
                            </div>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

